*
.slider
{
    width: 100%;
    margin-left: 0%;
    padding: 0 5px;
}
.carousel
{
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5); 
   
}
.carousel-indicator
{
    z-index: 1 !important;
    transition-duration: 0.1s !important;

}
@media only screen and (max-width: 980px)
{
 .slider
 {
width: 100%;
margin-left: 0;
 }   
}